* {
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  --border-radius: .3125em;
  --font-size: 18px;
  --line-height: 1.7;
  --color-rgb: var(--gray-1-rgb);
  --accent-color-rgb: var(--indigo-3-rgb);
}

@media (max-width: 1280px) {
  html {
    --font-size: 17px;
  }
}

@media (max-width: 768px) {
  html {
    --font-size: 16px;
    --line-height: 1.5;
  }
}

body {
  margin: 0;
}


summary {
  cursor: pointer;
  box-shadow: 0 0 0 var(--focus-size) var(--focus-color);
  transition: box-shadow .3s ease;
}

[js-focus-visible-polyfill-available] summary:focus {
  outline: none;
}

summary:not([is-focus-visible]) {
  --focus-size: 0em;
}


.Hero {
  background: var(--gray-9);
}

@media (min-width: 769px) {
  .Hero--actions {
    font-size: 1.1em;
  }
}

.Column {
  width: 42em;
  max-width: 100%;
  margin: auto;
  padding: 3em 1em;
}

@media (max-width: 414px) {
  .Column {
    padding-top: 1.75em;
    padding-bottom: 1.75em;
  }
}


.Stack {
  --gap: 4rem;
}

.Stack.Stack-is-secondary {
  --gap: 2rem;
}

@media (max-width: 768px) {
  .Stack {
    --gap: 2.5rem;
  }

  .Stack.Stack-is-secondary {
    --gap: 1.25rem;
  }
}


h1 {
  font-size: 3em;
  line-height: 1;
  margin: 0 0 .75em;
  text-align: center;
}

h1 em {
  color: var(--gray-4);
}

@media (max-width: 768px) {
  h1 {
    font-size: 6.5vw;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 8vw;
  }
}

h1, h2 {
  color: var(--gray-0);
}


.Button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.1875em;
  padding-right: 1.1875em;
}

.Button-is-bordered {
  --color-rgb: var(--indigo-2-rgb);
}

.Button-is-gray {
  background: var(--gray-8);
}


.Test {
  position: relative;
  font-size: 1.1em;
  background: var(--gray-8);
  padding: .9em 1.2em;
  margin-top: 1em;
}

@media (max-width: 768px) {
  .Test {
    margin-left: -1rem;
    margin-right: -1rem;
    padding: .8em 1em;
  }
}

.Test:empty {
  display: none;
}

.Test::before {
  content: attr(data-type);
  display: block;
  font-size: .8em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .02em;
  color: var(--gray-4);
  margin-bottom: .2em;
}

.Test[data-type="running"] {
  color: var(--gray-4);
  text-align: center;
  padding: 2.31em 1em;
}

.Test[data-type="running"]::before {
  display: none;
}

.Test[data-type="running"]::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: calc(50% - 5em); /* TODO */
  width: .8em;
  height: .8em;
  border-radius: .5em;
  border: 2px solid transparent;
  border-top-color: currentColor;
  border-left-color: currentColor;
  animation: test-running .6s linear infinite;
}

@keyframes test-running {
  to { transform: rotate(360deg) }
}

.Test[data-type="success"] {
  border-left: 1em solid var(--green-5);
}

.Test[data-type="error"],
.Test[data-type="failure"] {
  border-left: 1em solid var(--red-5);
}

.Test summary {
  font-size: .8em;
  margin: .4em 0 0;
  text-indent: .125em;
}

.Test pre {
  margin: .4em 0 0;
  font-size: .7em;
  line-height: 1.7;
  font-family: var(--monospace-font-family);
  padding: .8em 1em .6em;
  background: var(--gray-9);
  overflow-x: auto;
}

.Test pre::-webkit-scrollbar {
  height: 1em;
}

.Test pre::-webkit-scrollbar-track {
  background: none;
  border: none;
}

.Test pre::-webkit-scrollbar-thumb {
  min-width: 3.5em;
  background-color: var(--gray-6);
  background-clip: padding-box;
  border: .25em solid transparent;
  border-radius: .5em;
  box-shadow: none;
}

.Test pre::-webkit-scrollbar-thumb:active {
  background-color: var(--gray-4);
}


.Markdown h2 {
  font-size: 2em;
  margin-bottom: .25em;
}

@media (max-width: 768px) {
  .Markdown h2 {
    font-size: 1.5em;
  }
}


.FAQ[id]::before,
.Markdown h2[id]::before {
  content: "";
  display: block;
  padding-top: 1.5em;
  margin-top: -1.5em;
  visibility: hidden;
  pointer-events: none;
}


.InlineSafeHighlight {
  color: var(--status-green-fg);
  background: var(--status-green-bg);
  padding-left: .2em;
  padding-right: .2em;
}

@media (min-width: 769px) {
  .InlineSafeHighlight {
    border-radius: .15em;
  }
}


.BGPSafetyTable {
  width: 100%;
  --content-indent: 1.1rem;
  width: calc(100% + 2 * var(--content-indent));
  margin-left: calc(-1 * var(--content-indent));
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}

@media (max-width: 768px) {
  .BGPSafetyTable {
    --content-indent: 1rem;
  }
}

.BGPSafetyTable th {
  font-size: .8em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .02em;
  color: var(--gray-3);
  vertical-align: bottom;
  white-space: nowrap;
}

.BGPSafetyTable th:not([data-sortable="false"]) {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  cursor: pointer;
}

.BGPSafetyTable th::after {
  content: "";
  position: relative;
  visibility: hidden;
  display: inline-block;
  vertical-align: inherit;
  height: 0;
  width: 0;
  border-width: 7px;
  border-style: solid;
  border-color: transparent;
  margin-right: 1px;
  margin-left: 10px;
  float: right;
}

.BGPSafetyTable th[data-sorted="true"]::after {
  visibility: visible;
}

.BGPSafetyTable th[data-sorted-direction="descending"]::after {
  border-top-color: currentColor;
  top: .4em;
}

.BGPSafetyTable th[data-sorted-direction="ascending"]::after {
  border-bottom-color: currentColor;
  top: -.1em;
}

.BGPSafetyTable th,
.BGPSafetyTable td {
  padding: .2rem var(--content-indent);
  text-align: left;
}

.BGPSafetyTable th[align="right"],
.BGPSafetyTable td[align="right"] {
  text-align: right;
}

.BGPSafetyTable td:not([valign]) {
  vertical-align: top;
}

.BGPSafetyTable tbody tr:nth-child(even) {
  background: rgba(var(--gray-9-rgb), .9);
}

.BGPSafetyTable tbody tr:not(:last-child) td {
  border-bottom: 1px solid var(--gray-8);
}

.BGPSafetyTable tbody tr[data-status="safe"]:not(:last-child) td:last-child {
  border-bottom-color: rgba(var(--green-2-rgb), .08);
}

.BGPSafetyTable tbody tr[data-status="partially-safe"]:not(:last-child) td:last-child {
  border-bottom-color: rgba(var(--yellow-2-rgb), .08);
}

.BGPSafetyTable tbody tr[data-status="unsafe"]:not(:last-child) td:last-child {
  border-bottom-color: rgba(var(--red-2-rgb), .08);
}

.BGPSafetyTable td:last-child {
  font-weight: 500;
}

@media (min-width: 769px) {
  .BGPSafetyTable tbody tr:first-child td:last-child {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }

  .BGPSafetyTable tbody tr:last-child td:last-child {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
}

.BGPSafetyTable [data-status="safe"] {
  box-shadow: -5px 0 var(--green-4);
}

.BGPSafetyTable [data-status="partially-safe"] {
  box-shadow: -5px 0 var(--yellow-4);
}

.BGPSafetyTable [data-status="unsafe"] {
  box-shadow: -5px 0 var(--red-4);
}

.BGPSafetyTable [data-status="safe"] td:last-child {
  color: var(--status-green-fg);
  background: var(--status-green-bg);
}

.BGPSafetyTable [data-status="partially-safe"] td:last-child {
  color: var(--status-yellow-fg);
  background: var(--status-yellow-bg);
}

.BGPSafetyTable [data-status="unsafe"] td:last-child {
  color: var(--status-red-fg);
  background: var(--status-red-bg);
}

@media (max-width: 768px) {
  .BGPSafetyTable tr > *:nth-child(3) {
    display: none;
  }
}

@media (max-width: 576px) {
  .BGPSafetyTable tr > *:nth-child(2) {
    display: none;
  }
}


.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Footer--logo-link {
  display: block;
  height: 96px;
  width: 96px;
}

.Footer--logo {
  display: block;
  height: 100%;
  width: 100%;
}

.Footer--legal {
  text-align: center;
  font-size: .8em;
  color: var(--gray-5);
}


.PageNotFound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-bottom: 5em;
  text-align: center;
}
