@import "colors.css";

* {
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  --border-radius: .3125em;
  --font-size: 18px;
  --line-height: 1.7;
  --color-rgb: var(--gray-1-rgb);
  --accent-color-rgb: var(--indigo-3-rgb);
  --column-width: 42rem;
  --column-inline-padding: 1rem;
}

@media (max-width: 1280px) {
  html {
    --font-size: 17px;
  }
}

@media (max-width: 768px) {
  html {
    --font-size: 16px;
    --line-height: 1.5;
  }
}

body {
  margin: 0;
}


[data-tooltip] {
  position: relative;
}

[data-tooltip]:hover::after {
  display: block;
  content: attr(title);
  position: absolute;
  left: 50%;
  bottom: 100%;
  padding: .3em 1em;
  transform: translate3d(-50%, 0, 0);
  margin-bottom: .5em;
  background: var(--gray-0);
  color: #fff;
  max-width: 60vw;
  white-space: nowrap;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  pointer-events: none;
  border-radius: var(--border-radius);
  z-index: 10;
}


summary {
  cursor: pointer;
  box-shadow: 0 0 0 var(--focus-size) var(--focus-color);
  transition: box-shadow .3s ease;
}

[js-focus-visible-polyfill-available] summary:focus {
  outline: none;
}

summary:not([is-focus-visible]) {
  --focus-size: 0em;
}


.Hero {
  background: var(--gray-9);
}

@media (min-width: 769px) {
  .Hero--actions {
    font-size: 1.1em;
  }
}


.Column {
  width: var(--column-width);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--column-inline-padding);
  padding-right: var(--column-inline-padding);
}


.Spacer {
  height: 3em;
}

@media (max-width: 414px) {
  .Spacer {
    height: 1.75em;
  }
}


.Stack {
  --gap: 2rem;
}

@media (max-width: 768px) {
  .Stack {
    --gap: 1.25rem;
  }
}


h1 {
  font-size: 3em;
  line-height: 1;
  margin: 0 0 .75em;
  text-align: center;
}

h1 em {
  color: var(--gray-4);
}

@media (max-width: 768px) {
  h1 {
    font-size: 6.5vw;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 8vw;
  }
}

h1, h2 {
  color: var(--gray-0);
}


.Button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.1875em;
  padding-right: 1.1875em;
}

.Button-is-bordered {
  --color-rgb: var(--indigo-2-rgb);
}

.Button-is-gray {
  background: var(--gray-8);
}

.Button-is-question-mark {
  font-size: .9em;
  margin-left: .125em;
  padding: 0 .6em;
  border-radius: 999em;
  font-weight: 700;
}

.Button-is-slim {
  padding: .125em .5em;
}


.Test {
  position: relative;
  font-size: 1.1em;
  background: var(--gray-8);
  padding: .9em 1.2em;
  margin-top: 1em;
}

@media (max-width: 768px) {
  .Test {
    margin-left: -1rem;
    margin-right: -1rem;
    padding: .8em 1em;
  }
}

.Test:empty {
  display: none;
}

.Test::before {
  content: attr(data-type);
  display: block;
  font-size: .8em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .02em;
  color: var(--gray-4);
  margin-bottom: .2em;
}

.Test[data-type="running"] {
  color: var(--gray-4);
  text-align: center;
  padding: 2.31em 1em;
}

.Test[data-type="running"]::before {
  display: none;
}

.Test[data-type="running"]::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: calc(50% - 5em);
  width: .8em;
  height: .8em;
  border-radius: .5em;
  border: 2px solid transparent;
  border-top-color: currentColor;
  border-left-color: currentColor;
  animation: test-running .6s linear infinite;
}

@keyframes test-running {
  to { transform: rotate(360deg) }
}

.Test[data-type="success"] {
  border-left: 1em solid var(--green-5);
}

.Test[data-type="error"],
.Test[data-type="failure"] {
  border-left: 1em solid var(--red-5);
}

.Test summary {
  font-size: .8em;
  margin: .4em 0 0;
  text-indent: .125em;
}

.Test pre {
  margin: .4em 0 0;
  font-size: .7em;
  line-height: 1.7;
  font-family: var(--monospace-font-family);
  padding: .8em 1em .6em;
  background: var(--gray-9);
  overflow-x: auto;
}

.Test pre::-webkit-scrollbar {
  height: 1em;
}

.Test pre::-webkit-scrollbar-track {
  background: none;
  border: none;
}

.Test pre::-webkit-scrollbar-thumb {
  min-width: 3.5em;
  background-color: var(--gray-6);
  background-clip: padding-box;
  border: .25em solid transparent;
  border-radius: .5em;
  box-shadow: none;
}

.Test pre::-webkit-scrollbar-thumb:active {
  background-color: var(--gray-4);
}

.Test pre > i {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  line-height: 1.3;
  margin-right: .5em;
}

.Test pre > i > i {
  display: inline-block;
  height: 1.3125em;
  width: 1.3125em;
  vertical-align: bottom;
  border-radius: .25em;
}

.Test pre > i[pass] > i {
  color: var(--green-4);
}

.Test pre > i[fail] > i {
  color: var(--red-4);
}

.Test pre > i > i svg {
  stroke: currentColor;
  stroke-width: 2.5px;
  fill: none;
}


.Markdown h2 {
  font-size: 2.5em;
}

@media (max-width: 768px) {
  .Markdown h2 {
    font-size: 2em;
  }
}

@media (max-width: 374px) {
  .Markdown h2 {
    font-size: 1.75em;
  }
}

.Markdown h2[id]::before,
.Markdown details[id]::before {
  content: "";
  display: block;
  padding-top: 1.5em;
  margin-top: -1.5em;
  visibility: hidden;
  pointer-events: none;
}

.Markdown h2.Markdown--h2-as-h3 {
  font-size: 1.6em;
}

.Markdown h2.Markdown--h2-as-h3:not(:last-child) {
  margin-bottom: .25em;
}


.InlineSafeHighlight {
  color: var(--status-green-fg);
  background: var(--status-green-bg);
  padding-left: .2em;
  padding-right: .2em;
}

@media (min-width: 769px) {
  .InlineSafeHighlight {
    border-radius: .15em;
  }
}


.TableHeader {
  padding-bottom: .125em;
  border-bottom: 1px solid var(--gray-7);
  margin-bottom: 1.25em;
}

.TableHeader--subheader {
  display: flex;
}

@media (max-width: 374px) {
  .TableHeader--info {
    font-size: .9em;
  }
}

.TableHeader--actions {
  font-size: .85em;
  margin-left: auto;
}

.TableHeader--actions > * + * {
  margin-left: .5em;
}

@media (max-width: 960px) {
  .TableHeader--actions [large-desktop-only] {
    display: none;
  }
}

@media (max-width: 319px) {
  .TableHeader--actions {
    display: none;
  }
}

.BGPSafetyTable {
  --cell-horizontal-padding: 1.1rem;
  --column-table-width: calc(var(--column-width) - 2 * var(--column-inline-padding) + 2 * var(--cell-horizontal-padding));

  table-layout: fixed;
  width: var(--column-table-width);
  --max-width: var(--column-table-width);
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;

  --type-column-width: 6rem;
  --details-column-width: 14rem;
  --status-column-width: 8rem;
  --asn-column-width: 7rem;

  --non-name-columns-width-sum: calc(
    var(--type-column-width) +
    var(--details-column-width) +
    var(--status-column-width) +
    var(--asn-column-width)
  );
}

.BGPSafetyTable[data-show-all-rows="true"] {
  width: auto;
  max-width: calc(100vw - 5em);
  min-width: var(--column-table-width);
}

.BGPSafetyTable [data-column="type"]    { width: var(--type-column-width)    }
.BGPSafetyTable [data-column="details"] { width: var(--details-column-width) }
.BGPSafetyTable [data-column="status"]  { width: var(--status-column-width)  }
.BGPSafetyTable [data-column="asn"]     { width: var(--asn-column-width)     }

@media (min-width: 961px) {
  .BGPSafetyTable[data-show-all-rows="true"] {
    --max-width: 100vw;
  }
}

@media (max-width: 960px) {
  .BGPSafetyTable {
    --max-width: 100vw;
  }
}

@media (max-width: 768px) {
  .BGPSafetyTable {
    --cell-horizontal-padding: 1rem;
  }
}

@media (max-width: 672px) { /* var(--column-width) in px */
  .BGPSafetyTable {
    --column-table-width: 100vw;
  }
}

.BGPSafetyTable[data-hide-asn-column="true"] [data-column="asn"] {
  display: none;
}

@media (min-width: 961px) {
  .BGPSafetyTable[data-hide-asn-column="true"] {
    --asn-column-width: 0rem;
  }

  .BGPSafetyTable[data-show-all-rows="false"][data-hide-asn-column="false"] {
    width: calc(var(--column-table-width) + var(--asn-column-width));
    --max-width: calc(var(--column-table-width) + var(--asn-column-width));
  }
}

.BGPSafetyTable th {
  font-size: .8em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .02em;
  color: var(--gray-3);
  vertical-align: bottom;
  white-space: nowrap;
}

@supports ((-webkit-backdrop-filter: blur(1em)) or (backdrop-filter: blur(1em))) {
  .BGPSafetyTable th {
    position: sticky;
    top: 0;
    background: rgba(var(--background-color-rgb), .8);
    -webkit-backdrop-filter: saturate(200%) blur(1.25em);
    backdrop-filter: saturate(200%) blur(1.25em);
    z-index: 1;
  }

  .BGPSafetyTable th:first-child {
    box-shadow: -1em 0 var(--background-color);
  }
}

.BGPSafetyTable th:not([data-sortable="false"]) {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  touch-action: manipulation;
  cursor: pointer;
}

.BGPSafetyTable th:not([data-sortable="false"]) > span {
  display: block;
  position: relative;
  padding-right: 1.75em;
}

.BGPSafetyTable th:not([data-sortable="false"]) > span::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 0;
  width: 0;
  border-width: 7px;
  border-style: solid;
  border-color: transparent;
  margin-left: 10px;
  visibility: hidden;
}

.BGPSafetyTable th[data-sorted="true"] > span::after {
  visibility: visible;
}

.BGPSafetyTable th[data-sorted-direction="descending"] > span::after {
  border-top-color: currentColor;
  top: .55em;
}

.BGPSafetyTable th[data-sorted-direction="ascending"] > span::after {
  border-bottom-color: currentColor;
  top: .1em;
}

@media (max-width: 768px) {
  .BGPSafetyTable th[data-sorted-direction="descending"] > span::after {
    top: .45em;
  }

  .BGPSafetyTable th[data-sorted-direction="ascending"] > span::after {
    top: 0;
  }
}

.BGPSafetyTable th,
.BGPSafetyTable td {
  padding: .2rem var(--cell-horizontal-padding);
  text-align: left;
}

.BGPSafetyTable td {
  vertical-align: top;
  white-space: nowrap;
}

.BGPSafetyTable [data-column="asn"] {
  text-align: right;
}

.BGPSafetyTable tr {
  white-space: nowrap;
}

.BGPSafetyTable[data-show-all-rows="false"] tr[data-is-major="false"] {
  display: none;
}

.BGPSafetyTable tbody {
  letter-spacing: -.01em;
}

.BGPSafetyTable[data-show-all-rows="true"] tbody tr:nth-child(even) {
  background: rgba(var(--gray-9-rgb), .9);
}

.BGPSafetyTable tbody tr:not(:last-child) td {
  border-bottom: 1px solid var(--gray-8);
}

.BGPSafetyTable tbody tr[data-status="safe"]:not(:last-child) td[data-column="status"] {
  border-bottom-color: rgba(var(--green-2-rgb), .08);
}

.BGPSafetyTable tbody tr[data-status="partially-safe"]:not(:last-child) td[data-column="status"] {
  border-bottom-color: rgba(var(--yellow-2-rgb), .08);
}

.BGPSafetyTable tbody tr[data-status="unsafe"]:not(:last-child) td[data-column="status"] {
  border-bottom-color: rgba(var(--red-2-rgb), .08);
}

.BGPSafetyTable td[data-column="name"] {
  letter-spacing: -.03em;
}

.BGPSafetyTable td[data-column="name"] > span {
  display: block;
  -webkit-mask-image: linear-gradient(to right, #000, #000 calc(100% - 1em), transparent);
  mask-image: linear-gradient(to right, #000, #000 calc(100% - 1em), transparent);
  max-width: calc(var(--max-width) - 2 * var(--cell-horizontal-padding) - var(--non-name-columns-width-sum));
  padding-right: 1em;
  margin-right: -1em;
}

.BGPSafetyTable td[data-value="signed + filtering peers only"] {
  font-size: .95em;
  letter-spacing: -.03em;
}

.BGPSafetyTable td[data-column="status"] {
  font-weight: 500;
  letter-spacing: -.02em;
}

.BGPSafetyTable [data-status="safe"] td:first-child {
  box-shadow: -5px 0 var(--green-4);
}

.BGPSafetyTable [data-status="partially-safe"] td:first-child {
  box-shadow: -5px 0 var(--yellow-4);
}

.BGPSafetyTable [data-status="unsafe"] td:first-child {
  box-shadow: -5px 0 var(--red-4);
}

.BGPSafetyTable [data-status="safe"] td[data-column="status"] {
  color: var(--status-green-fg);
  background: var(--status-green-bg);
}

.BGPSafetyTable [data-status="partially-safe"] td[data-column="status"] {
  color: var(--status-yellow-fg);
  background: var(--status-yellow-bg);
}

.BGPSafetyTable [data-status="unsafe"] td[data-column="status"] {
  color: var(--status-red-fg);
  background: var(--status-red-bg);
}

@media (max-width: 960px) {
  .BGPSafetyTable {
    --asn-column-width: 0rem;
  }

  .BGPSafetyTable [data-column="asn"] {
    display: none;
  }
}

@media (max-width: 768px) {
  .BGPSafetyTable {
    --details-column-width: 0rem;
  }

  .BGPSafetyTable [data-column="details"] {
    display: none;
  }
}

@media (max-width: 576px) {
  .BGPSafetyTable {
    --type-column-width: 0rem;
  }

  .BGPSafetyTable [data-column="type"] {
    display: none;
  }
}

.BGPSafetyTable---footer {
  display: flex;
  font-size: .85em;
  padding-top: 1em;
  opacity: .8;
}


@media (max-width: 960px) {
  .BodyWithDiagrams {
    display: none;
  }
}


.Diagram {
  position: relative;
  --grid-line-color: rgba(var(--gray-8-rgb), .8);
  --grid-line-thickness: 1px;
  --grid-size: 2rem;
  --grid-height: 20rem;
  --grid-width: 60rem;
  --grid-positions-count: 5;
  --grid-positions-unit: calc(var(--grid-width) / (var(--grid-positions-count) + 1));
  height: calc(var(--grid-height) + var(--grid-line-thickness));
  margin: 2em auto;
  width: 100%;
  overflow: hidden;
  user-select: none;
}

.Diagram--surface {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(50vw - var(--grid-width) / 2);
  width: calc(var(--grid-width) + var(--grid-line-thickness));
  background-image:
    linear-gradient(
      to bottom,
      var(--grid-line-color) var(--grid-line-thickness),
      transparent var(--grid-line-thickness)
    ),
    linear-gradient(
      to right,
      var(--grid-line-color) var(--grid-line-thickness),
      transparent var(--grid-line-thickness)
    );
  background-size: var(--grid-size) var(--grid-size);
}

.Diagram--header {
  position: absolute;
  left: var(--grid-positions-unit);
  top: var(--grid-size);
  font-size: 1.25em;
  line-height: var(--grid-size);
  margin: 0 0 0 .25em;
}

.Diagram--header [unsafe],
.Diagram--header [safe] {
  padding-left: .2em;
  padding-right: .2em;
  border-radius: .15em;
}

.Diagram--header [unsafe] {
  color: var(--status-red-fg);
  background: var(--status-red-bg);
}

.Diagram--header [safe] {
  color: var(--status-green-fg);
  background: var(--status-green-bg);
}

.Diagram [position="1"] { left: calc(var(--grid-positions-unit) * 1); }
.Diagram [position="2"] { left: calc(var(--grid-positions-unit) * 2); }
.Diagram [position="3"] { left: calc(var(--grid-positions-unit) * 3); }
.Diagram [position="4"] { left: calc(var(--grid-positions-unit) * 4); }
.Diagram [position="5"] { left: calc(var(--grid-positions-unit) * 5); }

.Diagram--node {
  position: absolute;
  top: calc(var(--grid-height) / 2);
  --background: var(--gray-4);
  transition: opacity .65s ease, transform .65s ease;
}

.Diagram[data-js-diagram="unsafe"] .Diagram--node[path="sad"] {
  --background: var(--red-4);
}

.Diagram[path="sad"] .Diagram--node[path="sad"] {
  transform: translate3d(0, calc(2 * var(--grid-size)), 0);
}

.Diagram[path="sad"] .Diagram--node[path="happy"] {
  transform: translate3d(0, calc(-2 * var(--grid-size)), 0);
}

.Diagram--node-circle {
  position: absolute;
  --size: 1.5em;
  width: var(--size);
  height: var(--size);
  left: calc(-1 * var(--size) / 2);
  top: calc(-1 * var(--size) / 2);
  background: var(--background);
  border: .25em solid #fff;
  border-radius: 100%;
}

.Diagram[path="sad"] .Diagram--node[path="happy"] {
  transform: translate3d(0, calc(-2 * var(--grid-size)), 0);
}

.Diagram--node-icon {
  position: absolute;
  top: -68px;
  width: 73px;
  height: 50px;
  margin-left: -36px;
  --color: var(--gray-4);
  --background: #fff;
  transition: opacity .65s ease;
}

.Diagram--node-label {
  position: absolute;
  top: calc(var(--grid-size) / 2);
  left: calc(-1 * var(--grid-positions-unit) / 2);
  right: calc(-1 * var(--grid-positions-unit) / 2);
  text-align: center;
  line-height: var(--grid-size);
  text-shadow: 0 0 .5em #fff, 0 0 .5em #fff, 0 0 .25em #fff;
  transition: opacity .65s ease;
}

.Diagram[path="happy"] .Diagram--node[path="sad"] .Diagram--node-icon,
.Diagram[path="happy"] .Diagram--node[path="sad"] .Diagram--node-label {
  opacity: 0;
}

.Diagram[data-js-diagram="unsafe"][path="sad"] .Diagram--node[path="happy"] .Diagram--node-icon,
.Diagram[data-js-diagram="unsafe"][path="sad"] .Diagram--node[path="happy"] .Diagram--node-label,
.Diagram[data-js-diagram="unsafe"][path="sad"] .Diagram--node[path="both"][position="5"] .Diagram--node-icon,
.Diagram[data-js-diagram="unsafe"][path="sad"] .Diagram--node[path="both"][position="5"] .Diagram--node-label {
  opacity: .4;
}

.Diagram--edge {
  position: absolute;
  top: calc(var(--grid-height) / 2);
  --background: var(--gray-7);
  --line-thickness: 6px;
  --delay: 0s;
  transition: opacity .65s ease, transform .65s ease;
}

.Diagram [position="2"] { --delay: 0.75s }
.Diagram [position="3"] { --delay: 1.50s }
.Diagram [position="4"] { --delay: 2.25s }
.Diagram [position="5"] { --delay: 3.00s }

.Diagram--edge-line {
  position: absolute;
  top: 50%;
  width: calc(2 * var(--line-thickness) + var(--grid-positions-unit));
  height: var(--line-thickness);
  left: calc(-1 * var(--line-thickness));
  top: calc(-1 * var(--line-thickness) / 2);
  border-radius: 99em;
  background: var(--background);
}

.Diagram[data-js-diagram="unsafe"] .Diagram--edge[path="sad"],
.Diagram[data-js-diagram="unsafe"] .Diagram--edge[with-status-color] {
  --background: #f5ced2;
}

.Diagram[data-js-diagram="safe"] .Diagram--edge[with-status-color] {
  --background: #a3e0a6;
}

.Diagram[path="happy"] .Diagram--edge[path="switch"][with-status-color],
.Diagram[path="sad"] .Diagram--edge[path="switch"]:not([with-status-color]) {
  opacity: 0;
}

.Diagram[data-js-diagram="unsafe"][path="sad"] .Diagram--edge[path="switch"] {
  transform: translate3d(0, 0, 0) rotate(22deg);
}

.Diagram[data-js-diagram="safe"][path="sad"] .Diagram--edge[path="switch"] {
  transform: translate3d(0, 0, 0) rotate(-22deg);
}

.Diagram[path="sad"] .Diagram--edge[path="sad"] {
  transform: translate3d(0, calc(2 * var(--grid-size)), 0);
}

.Diagram[path="sad"] .Diagram--edge[path="happy"] {
  transform: translate3d(0, calc(-2 * var(--grid-size)), 0);
}

.Diagram[path="sad"] .Diagram--edge[path="happy"][position="4"] {
  transform: translate3d(0, calc(-2 * var(--grid-size)), 0) rotate(22deg);
}

.Diagram--edge-data {
  position: absolute;
  height: 10px;
  width: 20px;
  background: var(--gray-0);
  border-radius: 2px;
  margin-left: -10px;
  top: -5px;
  left: 0;
  animation: diagram-edge-data-pulse 5s var(--delay) linear infinite;
}

.Diagram[data-js-diagram="unsafe"][path="happy"] .Diagram--edge[path="sad"] .Diagram--edge-data,
.Diagram[data-js-diagram="unsafe"][path="sad"] .Diagram--edge[path="happy"] .Diagram--edge-data,
.Diagram[data-js-diagram="safe"] .Diagram--edge[path="sad"] .Diagram--edge-data {
  visibility: hidden;
}

@keyframes diagram-edge-data-pulse {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(.5);
  }

  3% {
    opacity: 1;
    transform: translate3d(calc(var(--grid-positions-unit) * .2), 0, 0) scale(1);
  }

  12.5% {
    opacity: 1;
    transform: translate3d(calc(var(--grid-positions-unit) * .8), 0, 0) scale(1);
  }

  16%, 100% {
    opacity: 0;
    transform: translate3d(var(--grid-positions-unit), 0, 0) scale(.5);
  }
}

.Diagram---footer {
  text-align: center;
}


.FAQItem summary {
  font-size: 1.5em;
  padding: 0 .6em;
  line-height: 1.75;
  background: var(--gray-8);
  color: var(--gray-4);
  border-radius: var(--border-radius);
}

.FAQItem summary span {
  font-weight: 600;
  color: var(--gray-0);
}

.FAQItem {
  margin-bottom: 1.5em;
}

.FAQItem p {
  padding-left: 2.7em;
}

@media (max-width: 413px) {
  .FAQItem summary {
    font-size: 1.2em;
  }

  .FAQItem p {
    padding-left: 0;
  }
}

.FAQItem[open] {
  margin-bottom: 2.5em;
}

.FAQItem[open] summary {
  margin-bottom: .5em;
}


.Footer {
  background: var(--gray-9);
}

.Footer--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Footer--logo-link {
  display: block;
  height: 2.4em;
  width: 4.8em;
  margin-bottom: .75em;
}

.Footer--logo {
  display: block;
  height: 100%;
  width: 100%;
}

.Footer--legal {
  text-align: center;
  font-size: .8em;
  margin-bottom: 1em;
}


.PageNotFound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1em 3em 5em;
  text-align: center;
}
